@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --main-color: #D3C6AA;
  --terminal-font: 'Roboto Mono';
}

* {
  min-width: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  background-color: #2D353B;
  color: var(--main-color);
  margin: 0;
  padding: 20px;
}

h1, h2, h3, h4, p {
  margin: 0;
  display: block;
  font-family: var(--terminal-font);
}

li {
  font-family: var(--terminal-font);
}

pre {
  font-size: 1.35rem;
  margin: 0;
  font-family: var(--terminal-font);
  color: #8DA101;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: var(--main-color);
}

code {
  color: #F85552;
  text-shadow: 0px 0px 4px;
}

/* Animations */

body.active .search-container {
  opacity: 0;
}